body {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-family: ".AppleSystemUIFont";
    user-select: none;
}

section {
    display: flex;
    gap: 20px;
}

p {
    font-size: 30px;
    color: sienna;
    margin: 10px 0;
}

.pie1 {
    width: 0;
    border: 100px solid;
    border-color: #37c #37c #3c7 #3c7;
    border-radius: 50%;
    transform: rotate(45deg);
    box-sizing: border-box;
    position: relative;
}

.pie1::after {
    content: '';
    position: absolute;
    border: 100px solid;
    border-radius: 50%;
}

.pie1.convex::after {
    border-color: transparent transparent #37c #37c;
}

.pie1.one::after {
    border-color: #3c7 #3c7 transparent transparent;
    transform: translate(-50%, -50%) rotate(60deg);
}

.pie1.two::after {
    border-color: #3c7 #3c7 transparent transparent;
    transform: translate(-50%, -50%) rotate(140deg);
}

.pie1.three::after {
    border-color: transparent transparent #3377cc #3377cc;
    transform: translate(-50%, -50%) rotate(220deg);
}

.pie1.four::after {
    border-color: transparent transparent #3377cc #3377cc;
    transform: translate(-50%, -50%) rotate(300deg);
}
