ul, li {
    list-style: none;
}

li::before {
    content: '';
    font-size: 0;
    color: #D7CCC8;
    border: solid currentColor;
    border-width: 6px 10.4px;
    border-color: transparent transparent transparent currentColor;
    display: inline-block;
    transform: translateX(6px);
}

li > ul {
    display: none;
}

li.expand > ul {
    display: block;
}

li.expand::before {
    transform: rotate(.25turn) translateX(6px);
}
